<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>搜索"<%= title %>"</title>
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/css/font-awesome.min.css">
    <link rel="stylesheet" href="/assets/css/style.css">
    <style>

    </style>
</head>
<body>
<!--导航栏--->
<span id="title" class="text-hide d-none">
    <%=title%>
</span>
<!--导航栏--->
<nav class="navbar navbar-expand-lg navbar-dark">
    <a class="navbar-brand" href="/">
        我的音乐小屋
    </a>
    <div class="navbar-collapse">
        <ul class="navbar-nav mr-2">
            <li class="nav-item">

                <a class="nav-link" href="/">发现音乐</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/mymusic">我的音乐</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/messageboard">小站留言</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/contact">联系我们</a>
            </li>
        </ul>
    </div>
    <form class="form-inline my-2 my-lg-0 mr-lg-5">
        <input id="searchSongInput" class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button id="searchBtn" class="btn btn-outline-success my-2 my-sm-0" type="submit">
            <i class="fa fa-search"></i>
        </button>
    </form>
    <% if(!user){ %>
    <div class="nav-item">
        <button class="loginBtn btn btn-success" type="button" data-toggle="modal">
            登录
        </button>
        &nbsp;&nbsp;&nbsp;&nbsp;
        <button id="signUpBtn" class="btn btn-outline-info" type="button" data-toggle="modal"
                data-target="#signupModal">注册
        </button>
    </div>
    <% }else { %>
    <div class="nav-item">
        <span class="text-white">欢迎 <%= user.username %>!</span>
    </div>
    <% } %>

</nav>


<!--search Result Area-->
<div id="search-nav" class="container-fluid mr-top-2">
    <ul class="nav nav-tabs justify-content-center" id="myTab" role="tablist">
        <li class="nav-item">

            <a class="nav-link" id="kugou-tab" data-toggle="tab" href="" role="tab" aria-controls="home"
               aria-selected="true">
                <img src="/assets/image/cardlkg80x80.png" alt="">酷狗音乐</a>
        </li>
        <li class="nav-item">

            <a class="nav-link text-red" id="netease-tab" data-toggle="tab" href="" role="tab" aria-controls="profile"
               aria-selected="false">
                <img src="/assets/image/cardNete80x80.png" alt="">网易云音乐</a>
        </li>
        <li class="nav-item">

            <a class="nav-link text-green active" id="qqmusic-tab" data-toggle="tab" href="" role="tab" aria-controls="contact"
               aria-selected="false">
                <img src="/assets/image/cardqq80x80.png" alt="">QQ音乐</a>
        </li>
    </ul>
</div>
<div class="container-fluid mr-top-2 px-md-5">
    <table class="table table-hover">
        <thead>
        <tr>
            <th scope="col"></th>
            <th scope="col">歌曲名</th>
            <th scope="col">歌手</th>
            <th scope="col">时长</th>
        </tr>
        </thead>
        <tbody>

        <% data.data.song.list.forEach(function(song, index){ %>
        <tr>
            <th scope="row"><%= index + 1 %></th>
            <td class="searchQQSongLink song-name"><%= song.songname %>&nbsp;- &nbsp;<%= song.singer[0].name %>
                <span class="text-hide id"><%= song.songid %></span>
                <span class="text-hide duration"><%= song.interval %></span>
                <i class="fa fa-heart-o" data-source="3"></i>
            </td>
            <td><%= song.singer[0].name %></td>
            <td>
                <% let minute = Math.floor(song.interval / 60);
                %>
                <% let sec = Math.floor(song.interval % 60); %>
                <% if(sec < 10){ %>
                <% sec = `0${sec}`; %>
                <% } %>
                <%= minute + ":" + sec %>
            </td>
        </tr>
        <% }); %>
        </tbody>
    </table>
</div>


<!--playBar-->
<div class="wrap">

    <div class="player paused">

        <div class="progress-bar">
            <div class="runner"></div>
        </div>
        <div class="album-art">
            <div class="cover"></div>
        </div>

        <div class="description">
            <div class="title">Something from nothing</div>
        </div>

        <div class="visualizer">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </div>

        <div class="play-button">
            <div class="lp-background"></div>
            <i class="fa fa-play"></i>
        </div>

        <div class="time-indicator">
            <i class="fa fa-clock-o"></i>
            <span id="current">00:00</span>
        </div>
        <div class="time-end-indicator">
            <i class="fa fa-clock-o"></i>
            <span id="duration">00:00</span>
        </div>

    </div>

</div>

<!--提示未登录-->
<div class="modal fade" id="notloginModal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header d-flex  justify-content-between ">
                <div></div>
                <h5 class="modal-title">未登录,无法收藏</h5>
                <button type="button" class="close m-0" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-footer">
                <button class="loginBtn btn btn-success" type="button">
                    登录
                </button>
            </div>
        </div>
    </div>
</div>
<div class="mb-footer"></div>

<script src="/assets/js/jquery.min.js"></script>
<script src="assets/js/popper.min.js"></script>
<script src="assets/js/bootstrap.min.js"></script>
<script src="/assets/js/scripts.js"></script>
<script>
    let name=$('#title').text().trim();
    $("#kugou-tab").click(function (e) {
        e.preventDefault();
        $.ajax({
            url:`/searchkugou?name=${name}`,
            type:"GET",
            success:function () {
                window.location=`/searchkugou?name=${name}`;
            }
        })
    });
    $("#netease-tab").click(function (e) {
        e.preventDefault();
        $.get(`/searchnetease?name=${name}`,null,function () {
            window.location=`/searchnetease?name=${name}`;
        });
    });
</script>
</body>
</html>